html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
}

#frame
{
	width : 622px;
	margin : 0px auto;
}

#renderertest
{

}

div.resultbox
{
	padding : 3px 10px;
	margin-bottom : 5px;
	margin-right : 5px;
	border-radius : 3px;
}

div.resultbox.left
{
	float : left;
}

div.resultbox.link
{
	cursor : pointer;
}

div.resultbox.success
{
	color : #222222;
	background : #eeeeee;
	border : 1px solid #dddddd;
}

div.resultbox.failure
{
	color : #eeeeee;
	background : #222222;
	border : 1px solid #222222;
}

div.allresult
{
	font-size : 14px;
	padding : 5px 10px;
	border-radius : 5px;
	margin-bottom : 5px;
}

div.allresult.success
{
	color : #222222;
	background : #eeeeee;
	border : 1px solid #dddddd;
}

div.allresult.failure
{
	color : #eeeeee;
	background : #222222;
	border : 1px solid #222222;
}

div.testresult
{
	margin-bottom : 10px;
	border : 1px solid #cccccc;
	display : none;
}

div.testresulttitle
{
	color : #000000;
	background : #fafafa;
	border-bottom : 1px solid #cccccc;
	padding : 10px;
}

div.testresultmain
{
	padding : 10px;
}
