html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	color : #000000;
	background : #ffffff;
	width : 300px;
	padding : 10px;
	float : left;
}

#right
{

}

div.title
{
	padding : 10px;
	margin-bottom : 10px;
}

span.titlemain
{
	color : #333333;
	background : transparent;
	font-size : 40px;
}

span.titlesub
{
	color : #aaaaaa;
	background : transparent;
	font-size : 20px;
	margin-left : 10px;
}

div.box
{
	color : #000000;
	background : transparent;
	padding : 5px;
	margin-bottom : 10px;
	border : 1px solid #cccccc;
	border-radius : 5px;
}

div.boxmenu
{
	color : #000000;
	background : #eeeeee;
	padding : 10px;
	border-radius : 5px;
}

div.boxmenu a
{
	padding : 5px;
	border-radius : 5px;
	text-decoration : none;
	float : left;
}

div.boxmenu a.active
{
	color : #ffffff;
	background : #279b61;
}

div.boxmenu a.button
{
	color : #ffffff;
	background : #cc3333;
	float : right;
}

div.boxmain
{
	padding : 10px;
	border-radius : 5px;
}

div.operationbox
{
	color : #000000;
	background : #eeeeee;
	text-align : center;
	padding : 15px;
	border : 1px solid #cccccc;
	border-radius : 5px;
}

div.operationbox a
{
	padding : 5px;
	border-radius : 5px;
	text-decoration : none;
}

div.operationbox a.active
{
	color : #ffffff;
	background : #279b61;
}

div.projectlink
{
	text-align : center;
	margin-top : 30px;
}

div.projectlink a
{
	color : #555555;
	background : transparent;
}

div.clearer
{
	clear : both;
}

table.parameters td
{
	padding : 5px;
}

a.inputbutton
{
	color : #000000;
	background : #f5f5f5;
	padding : 3px 5px;
	text-decoration : none;
	border-radius : 5px;
}

a.inputbuttonmargin
{
	color : #000000;
	background : #f5f5f5;
	padding : 3px 5px;
	text-decoration : none;
	border-radius : 5px;
	margin-right : 10px;
}

input.small
{
	width : 30px;	
	margin : 0px 3px;
}

input.large
{
	width : 90px;	
	margin : 0px 5px;
}

a
{
	color : #000000;
	background : transparent;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

canvas
{
	display : block;
}
