html, body
{
	color : #222222;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	color : #dddddd;
	background : #222222;
	width : 330px;
	height : 100%;
	float : left;
	overflow : auto;
}

#right
{
	height : 100%;
	float : left;
	overflow : auto;
}

div.content
{
	padding : 10px;
}

div.title
{
	margin-bottom : 15px;
}

span.maintitle
{
	font-size : 33px;
}

span.subtitle
{
	font-size : 12px;
	margin-left : 5px;
}

div.modulename
{
	font-size : 17px;
	margin-top : 15px;
	margin-bottom : 10px;
	cursor : pointer;
}

div.entry
{
	font-size : 12px;
	margin-bottom : 5px;
	cursor : pointer;
}

div.entrymark
{
	text-align : center;
	padding : 2px;
	width : 20px;
	margin-right : 5px;
	border-radius : 5px;
	float : left;
}

div.entrymark.function
{
	color : #ffffff;
	background : #279b61;
}

div.entrymark.class
{
	color : #ffffff;
	background : #cc3333;
}

div.entryname
{
	padding : 2px;
}

div.indented
{
	margin-left : 15px;
}

div.moreindented
{
	margin-left : 25px;
}

div.doctitle1
{
	font-size : 27px;
	margin-bottom : 15px;
}

div.doctitle2
{
	font-size : 21px;
	margin-top : 15px;
	margin-bottom : 10px;
}

div.doctitle3
{
	font-size : 17px;
	margin-top : 10px;
	margin-bottom : 5px;
}

div.doctitle4
{
	font-size : 15px;
	margin-top : 5px;
	margin-bottom : 3px;
}

div.doccontent
{
	font-size : 15px;
}

table.parametertable td.parametertablenamecell
{
	padding : 0px 10px;
	font-weight : bold;
}

table.parametertable td.parametertabletypecell
{
	padding : 0px 10px;
	font-style : italic;
}

table.parametertable td.parametertabletypecell.link
{
	color : #225588;
	background : transparent;
	cursor : pointer;
}

div.related
{
	margin-bottom : 3px;
}

div.related.link
{
	color : #225588;
	background : transparent;
	cursor : pointer;
}

table.parametertable td.parametertabledesccell
{
	padding : 0px 10px;
}
