html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	color : #eeeeee;
	background : #222222;
	width : 220px;
	height : 100%;
	float : left;
	overflow : auto;
}

#right
{
	float : left;
	height : 100%;
}

div.button
{
	color : #ffffff;
	background : #222222;
	padding : 8px;
	border-radius : 5px;
	position : absolute;
	left : 230px;
	cursor : pointer;
}

div.button img
{
	float : left;
}

div.buttoncontent
{
	margin-left : 8px;
	float : left;
}

div.buttoncontententry
{
	margin-left : 8px;
	float : left;
}

div.color
{
	width : 15px;
	height : 15px;
	float : left;
	border-radius : 50%;
}

#settings
{
	top : 10px;
}

#info
{
	top : 50px;
}

#export
{

	top : 90px;
}

#color
{

	top : 130px;
}

#fail
{
	color : #ffffff;
	background : #cc3333;
	top : 170px;
}

div.content
{
	padding : 10px;
}

div.title
{
	color : #ffffff;
	background : transparent;
	padding-bottom : 10px;
	margin-bottom : 15px;
}

div.maintitle
{
	font-size : 29px;
}

div.subtitle
{
	font-size : 12px;
}

div.menutitle
{
	font-weight : bold;
	margin-top : 10px;
	margin-bottom : 5px;
}

div.menuentry
{
	margin-left : 15px;
	margin-bottom : 5px;
	cursor : pointer;	
}

a
{
	color : #000000;
	background : transparent;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}

canvas
{
	display : block;
}

img
{
	display : block;
}
