html, body
{
	color : #dddddd;
	background : #222222;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	width : 320px;
	height : 100%;
	float : left;
}

#menu
{
	padding : 10px;
}

div.menuitem
{
	padding : 2px;
}

canvas
{
	display : block;
}
