html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
}

div.header
{
	color : #ffffff;
	background : #222222;
	padding : 10px;
	margin-bottom : 10px;
}

div.title
{
	font-size : 17px;
	text-align : center;
	margin-bottom : 5px;
}

div.subtitle
{
	text-align : center;
}

div.frame
{
	width : 800px;
	margin : 0px auto;
}

a.link
{
	color : #888888;
	background : transparent;
	text-decoration : none;
}

a.link:hover
{
	text-decoration : underline;
}
