html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

div.menu
{
	color : #dddddd;
	background : #222222;
	width : 250px;
	height : 100%;
	float : left;
	overflow : auto;
}

div.button
{
	color : #ffffff;
	background : #222222;
	padding : 8px;
	border-radius : 5px;
	position : absolute;
	left : 260px;
	top : 10px;
	cursor : pointer;
}

div.button img
{
	display : block;
}

div.name
{
	color : #ffffff;
	font-size : 25px;
	margin-bottom : 10px;
}

div.info
{
	color : #000000;
	background : rgba(0,0,0,0.05);
	padding : 10px;
	position : absolute;
	width : 300px;
	top : 10px;
	right : 10px;
}

input.searchfield
{
	color : #888888;
	background : url(search.png) no-repeat scroll 5px 5px #eeeeee;
	width : 100%;
	font-size : 14px;
	padding : 5px 5px 5px 30px;
	border : 0px;
	box-sizing : border-box;
}

div.content
{
	padding : 10px;
}

div.grouptitle
{
	font-size : 14px;
	padding : 5px 0px;
	margin-top : 10px;
	margin-bottom : 5px;
	border-bottom : 1px solid #666666;
	cursor : pointer;
}

div.menuitems
{
	margin-left : 10px;
}

div.menuitem
{
	padding : 5px 10px;
	cursor : pointer;
}

div.menuitem:hover
{
	color : #ffffff;
	background : #008ab8;
}

canvas.viewer
{
	display : block;
}
