body, html
{
	font-size : 12px;
	font-family : arial;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	color : #000000;
	background : #f6f6f6;
	width : 200px;
	float : left;
	border-right : 1px solid #cccccc;
	height : 100%;
}

#modellisttitle
{
	color : #333333;
	background : transparent;
	font-size : 23px;
	padding : 10px;
}

#modellistcontrols
{
	padding : 10px;
}

#modellist
{
	padding : 10px;
	overflow : auto;
}

canvas
{
	display:block;
}
