html, body
{
	color : #dddddd;
	background : #222222;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	width : 220px;
	height : 100%;
	float : left;
	overflow : auto;
}

#menu
{
	padding : 10px;
}

div.menuitem
{
	padding : 2px;
	overflow : auto;
}

div.menugroup
{
	margin-left : 15px;
}

div.colorbutton
{
	width : 15px;
	height : 15px;
	border-radius : 2px;
	float : left;
}

img.menubutton
{
	padding : 2px;
	float : left;
	cursor : pointer;
	border : 0px;
	display : block;
}

div.menutext
{
	padding : 2px;
	margin-left : 3px;
	float : left;
}

canvas
{
	display : block;
}

