html, body
{
	color : #dddddd;
	background : #222222;
	font-size : 12px;
	font-family : Arial, cursive;
	margin : 0px;
	padding : 0px;
	width : 100%;
	height : 100%;
}

#left
{
	width : 250px;
	height : 100%;
	float : left;
	overflow : auto;
}

#logo
{
	color : #ffffff;
	background : #008ab8;
	font-size : 15px;
	text-align : center;
	text-decoration : none;
	margin : 5px 5px 10px 5px;
	padding : 7px;
	display : block;
}

#menu
{
	margin : 0px 10px;
}

div.menuitem
{
	padding : 2px;
	overflow : auto;
}

div.menugroup
{
	margin-left : 15px;
}

div.colorbutton
{
	width : 14px;
	height : 14px;
	border : 1px solid #dddddd;
	float : left;
}

img.menubutton
{
	padding : 2px;
	float : left;
	cursor : pointer;
	border : 0px;
	display : block;
}

div.button
{
	width : 25px;
	height : 25px;
	cursor : pointer;
	position : absolute;
}

div.menutext
{
	padding : 2px;
	margin-left : 3px;
	float : left;
}

div.progressbarborder
{
	height : 20px;
	border : 1px solid #dddddd;
}

div.progressbarcontent
{
	color : #ffffff;
	background : #dddddd;
	height : 20px;
}

div.error
{
	color : #ff0000;
	background : transparent;
	text-align : center;
}

table.infotable td
{
	padding : 1px 5px;
}

canvas
{
	display : block;
}
