html, body
{
	color : #000000;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
}

div.frame
{
	width : 700px;
	margin : 20px auto;
}

div.title1
{
	font-size : 25px;
	margin-top : 60px;
	margin-bottom : 40px;
	padding-bottom : 10px;
	border-bottom : 1px solid #000000;
}

div.title2
{
	font-size : 20px;
	margin-top : 40px;
	margin-bottom : 20px;
}

div.title3
{
	font-size : 15px;
	margin-top : 20px;
	margin-bottom : 10px;
}

div.indented
{
	margin-left : 20px;
}

table.parameters td
{
	vertical-align : top;
	padding-right : 20px;
}

table.parameters td.name
{
	font-weight : bold;
}

table.parameters td.type
{
	font-style : italic;
}

ul li
{
	margin : 10px 0px;
}

pre
{
	padding : 10px;
	border : 1px dotted #cccccc;
}

a
{
	color : #225588;
	background : transparent;
	text-decoration : none;
}

a:hover
{
	text-decoration : underline;
}
