html, body
{
	color : #222222;
	background : #ffffff;
	font-size : 12px;
	font-family : Arial, cursive;
}

div.frame
{
	width : 840px;
	margin : 0px auto;
}

div.title
{
	text-align : center;
	font-size : 27px;
	font-weight : bold;
	margin : 40px 0px;
}

div.container
{
	overflow : auto;
}

div.canvas
{
	float : left;
}

div.controls
{
	margin-left : 20px;
	float : left;
}

div.controltitle
{
	font-weight : bold;
}

div.controldiv
{
	margin : 3px 0px 3px 15px;
	overflow : auto;
}

div.controlsubdiv
{
	margin-bottom : 5px;
	overflow : auto;
}

div.selecttitle
{
	width : 60px;
	float : left;
	padding : 2px 0px;
}

div.selectitem
{
	color : #222222;
	background : transparent;
	padding : 2px 5px;
	float : left;
	border : 1px solid #ffffff;
	cursor : pointer;
}

div.selectitem.selected
{
	color : #222222;
	background : #dddddd;
	border : 1px solid #cccccc;
}

div.slidertitle
{
	width : 60px;
	float : left;
}

div.slider
{
	color : #000000;
	background : #ffffff;
	border : 1px solid #cccccc;
	width : 220px;
	height : 15px;
	float : left;
}

div.slidercontent
{
	color : #000000;
	background : #dddddd;
	height : 15px;
}

canvas
{
	margin : 0px;
}
